@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  background-color: rgb(33, 24, 56);
  padding: 0;
  margin: 0;
  font-family: Starforge, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Starforge";
  src: url("../public/fonts/StarforgeRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Retrogaming";
  src: url("../public/fonts/Retrogaming.ttf") format("truetype");
}
.btn-primary {
  border: none !important;
}
.btn-primary:hover {
}
.iconDark {
  color: rgb(42, 13, 88);
}

/* @font-face {
  font-family: "Starforge";
  src: local(""), url("../public/fonts/StarforgeRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
