.button1 {
  cursor: url("../../public/pictures/Cursor.png") 25 15, auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px !important;
  border-bottom-right-radius: 14px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;

  &:hover {
    background-color: #a89cba;
    color: white;
    border: 2px solid #a89cba;
    cursor: url("../../public/pictures/Cursor.png") 25 15, auto !important;
  }

  img {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .button1 {
    height: 50px;
    width: 50px !important;
    border-bottom-right-radius: 14px;
    margin: 0.5rem;
    padding: 0.6rem;

    img {
      width: 100%;
    }
  }
}
