.button1 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px !important;
  border-bottom-right-radius: 14px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;

  img {
    width: 80%;
    filter: invert(1);
  }
}

@media (max-width: 576px) {
  .button1 {
    height: 50px;
    width: 50px !important;
    border-bottom-right-radius: 14px;
    margin: 0.5rem;
    padding: 0.6rem;

    img {
      width: 100%;
    }
  }
}
