.footerRow1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14rem;
  padding-right: 14rem;
  color: #a89cba;
  font-family: "sofia-pro-SemiBold";
  font-size: 26px;
}

 @media (max-width: 576px) {

  .footerRow1 {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #a89cba;
    font-family: "sofia-pro-SemiBold";
    font-size: 15px;
  }
}
