.container {
  /*  padding: 0 2rem; */
  background-color: #140e1e;
  color: white;
  width: 100vw;
  cursor: url("../public/pictures/Cursor.png") 25 15, auto !important;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .presentation {
  width: 100%;
  position: "relative";
} */

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 -50px 80px 30px #140e1e;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 3;
}

.scene {
  width: 100%;
  position: "relative";
}

.sectionFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 4vh; */
  /*   width: 100vw; */
}
.rectangle1 {
  width: 40vw;
  height: 0.2vh;
  background: rgb(10, 189, 198);
  background: linear-gradient(
    90deg,
    rgba(10, 189, 198, 1) 0%,
    rgba(10, 189, 198, 1) 30%,
    rgba(234, 0, 217, 1) 41%,
    rgba(234, 0, 217, 1) 93%
  );
}

.image {
  width: 6vw;
  padding: 0;
}

.rectangle2 {
  width: 40vw;
  height: 0.2vh;
  background: rgb(234, 0, 217);
  background: linear-gradient(
    90deg,
    rgba(234, 0, 217, 1) 1%,
    rgba(234, 0, 217, 1) 2%,
    rgba(10, 189, 198, 1) 53%
  );
}

.button {
  font-size: 28px;
  font-family: "sofia-pro-SemiBold";
  width: 134px;
  height: fit-content;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  /*   background-color: #1b1a4e; */
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      120deg,
      rgba(10, 189, 198, 1) 0%,
      rgba(234, 0, 217, 1) 50%,
      rgba(10, 189, 198, 1) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1b1a4e inset;
  padding-right: 1vw !important;
  padding-left: 1vw !important;
  margin-bottom: 40px;
  cursor: url("../public/pictures/Cursor.png") 25 15, auto !important;
  position: relative;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #140e1e,
    #0fb7c4,
    #2f82b1,
    #504e9d,
    #721889
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: white;
}

.button:hover {
  box-shadow: 2px 1000px 1px #240046 inset;
  border: 3px solid purple;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8900f2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button:focus {
  border: 1px solid #0f0e3f;
  box-shadow: none !important;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* .button:hover {
  box-shadow: 2px 1000px 1px #240046 inset;
  outline: none !important;
  border: 1px solid white;
}
.button:active {
  background-color: white !important;
  color: #140e1e !important;
  border: 1px solid #0f0e3f;
  box-shadow: none !important;
}
.button:focus {
  background-color: white !important;
  color: #140e1e !important;
  border: 1px solid #0f0e3f;
  box-shadow: none !important;
} */

.hexagons {
  bottom: 0;
  position: absolute;
  background-image: url("../public/pictures/hexagonals.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 40%;
  pointer-events: none;
  height: 45vh;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  background: rgba(10, 189, 198, 0.2);
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 600px) {
  .cowboyScene {
    background-image: url("../public/pictures/Scene-cowboy-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hexagons {
    height: 60vh;
    background-position: 25%;
    background-image: url("../public/pictures/mobileHexagons.svg");
  }

  .button {
    width: 34%;
  }
  .sectionFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*   width: 100vw; */
  }

  .rectangle1 {
    width: 35vw;
    height: 0.2vh;
  }

  .image {
    width: 50px;
    padding: 0;
  }

  .rectangle2 {
    width: 35vw;
    height: 0.2vh;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer {
    padding-top: 0 !important;
  }

  .button {
    font-size: 22px;
  }
}
