.card {
  width: 50vw !important;
  background-color: transparent !important;
  text-align: center;
  border: 1px #8900f2 solid;

  .header {
    margin-bottom: 30px;
  }

  .text {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 0;
    }
  }

  .button1 {
    background-color: #8900f2 !important;
    border: none;
    width: 15vw;
    justify-content: center;
    border-radius: 20px;
    font-size: 25px;
    cursor: url("../../public/pictures/Cursor.png") 25 15, auto !important;

    &:active {
      border: 1px solid #0f0e3f;
      box-shadow: none !important;
    }
    &:focus {
      border: 1px solid #0f0e3f;
      box-shadow: none !important;
    }
  }
}

@media (max-width: 576px) {
  .card {
    width: 80vw !important;
    background-color: transparent !important;
    text-align: center;
    border: 1px #8900f2 solid;

    .header {
      margin-bottom: 30px;
      font-size: 18px;
    }

    .text {
      margin-bottom: 30px;
      font-size: 18px;

      h2 {
        margin-bottom: 0;
        font-size: 40px;
      }
    }

    .img {
      margin-bottom: 30px;
    }

    .button1 {
      background-color: #8900f2 !important;
      border: none;
      width: 50vw;
      justify-content: center;
      border-radius: 20px;
      font-size: 25px;
    }
  }
}
