@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Keania-One, sofia-pro, sofia-pro-SemiBold, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  color: white !important;
}

@font-face {
  font-family: "sofia-pro";
  src: url("../public/fonts/sofia-pro/Sofia-Pro-Regular-Az.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sofia-pro-SemiBold";
  src: url("../public/fonts/sofia-pro/Sofia-Pro-Semi-Bold.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Keania-One";
  src: url("../public/fonts/Keania_One/KeaniaOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monopolSemiBold";
  src: url("../public/fonts/monopol/Monopol-SemiBold.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* for bootstrap modal */
.modal-content {
  background-color: transparent;
  border: none;
  color: white;
  /* background-color: rgba(9,13,37,0.5) !important; */
}
