.container {
  background: linear-gradient(180deg, #110f35 0%, #140e1e 40.1%, #140e1e 100%);
  position: relative;

  .connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
  }

  .hexagons {
    bottom: 0;
    position: absolute;
    background-image: url("../public/assets/hexagonals.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40%;
    pointer-events: none;
    height: 20vh;
    width: 100%;
  }

  .playZone {
      display: flex;
      width: 100vw;
  }
}
