.container {
  height: auto;
  min-height: 100vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 30px;
  }
  P {
    font-size: 15px;
  }
  .connectWallet {
    width: 25vw;
    margin-bottom: 30px;
  }
  .buttonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    &:hover {
      transform: translate3d(10px, 2px, 10px) scale(1.1);
    }

    .button1 {
      position: absolute;
      border: none;
      width: 25vw;
      justify-content: center;
      font-size: 25px;
      cursor: url("../../public/pictures/Cursor.png") 25 15, auto !important;
      margin-bottom: 30px;
      box-sizing: border-box;
      background: linear-gradient(182.37deg, #ea00d9 1.97%, #ca00bb 86.51%);
      border-radius: 14px 4px;
      top: 0;
      z-index: 2;

      &:active {
        box-shadow: none !important;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
    .rectangle1 {
      position: absolute;
      top: 0;
      width: 25vw;
      height: 56.34px;
      background: #95008a;
      box-shadow: 0px 0px 12px rgba(234, 0, 217, 0.6);
      border-radius: 14px 4px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  background: rgb(20, 14, 30);
  background: linear-gradient(
    180deg,
    rgba(20, 14, 30, 1) 0%,
    rgba(15, 14, 63, 1) 94%,
    rgba(15, 14, 63, 1) 100%
  );
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
}

@media (max-width: 576px) {
  .container {
    max-height: 400vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

    h1 {
      font-size: 30px;
    }

    .connectWallet {
      width: 80vw;
    }
    .buttonContainer {
      margin-bottom: 40px;
      .button1 {
        width: 80vw;
      }
      .rectangle1 {
        width: 80vw;
      }
    }
  }
}
