.apecard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  cursor: pointer;
  background: linear-gradient(90deg, #2ab6be 0%, #ff42f1 100%);
  border-radius: 20px 3px;
  margin: 20px;

  &:hover {
    transform: translate3d(10px, 2px, 10px) scale(1.1) !important;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99%;
    background: linear-gradient(180deg, #1b1a4e 0%, #161137 100%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
