.container {
  margin-top: 10rem;
  margin-bottom: 26rem;

  .text {
    animation: 2s linear 0s forwards move;
  }

  @keyframes move {
    0%,
    25% {
      transform: translateX(+40%);
      left: 0%;
    }
    75%,
    100% {
      transform: translateX(0%);
      left: 100%;
    }
  }

  h1 {
    font-size: 50px;
    font-family: "sofia-pro-SemiBold";
  }

  h2 {
    font-size: 40px;
    font-family: "sofia-pro";
    line-height: 50px;
  }

  p {
    font-family: "sofia-pro";
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0.5vh;
  }

  .stub1 {
    line-height: 300px;
    font-size: 24px;
    background-color: #eae4e4;
  }

  .stub2 {
    height: 1000px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .timeline {
      height: 300px;
      width: 5px;
      background-color: #e5e5e5;

      .circleWrapper {
        position: relative;

        .circle {
          width: 30px;
          height: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: white;
          border-radius: 50%;
          background-color: #e5e5e5;
        }

        .message {
          position: absolute;
          top: 20%;
          left: 50%;
          min-width: 150px;
          font-weight: bold;
        }
      }
    }
  }
}
