.container {
  height: auto;
  min-height: 100vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    font-size: 30px;
  }
  P {
    font-size: 15px;
  }
  .connectWallet {
    margin-bottom: 30px;
  }

  .table {
    background: transparent;
    color: white;
    width: 100%;
    font-size: 30px;

    td {
      padding: 16px;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .dropdown {
      background-color: transparent !important;
      border: 1px solid white;
    }
  }

  .noBorder {
    border: 1px solid white;
    box-shadow: none;
    background-color: transparent;
    border-radius: 50rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    :focus {
      background-color: transparent;
    }

    ::placeholder {
      color: white;
    }
  }

  .button1 {
    background-color: #d100d1 !important;
    border: none;
    width: 15vw;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-size: 25px;
    cursor: url("../../public/pictures/Cursor.png") 25 15, auto !important;
    margin-bottom: 30px;

    &:active {
      border: 1px solid #0f0e3f;
      box-shadow: none !important;
    }
    &:focus {
      border: 1px solid #0f0e3f;
      box-shadow: none !important;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
  background: rgb(20, 14, 30);
  background: linear-gradient(
    180deg,
    rgba(20, 14, 30, 1) 0%,
    rgba(15, 14, 63, 1) 94%,
    rgba(15, 14, 63, 1) 100%
  );
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
}

@media (max-width: 576px) {
  .container {
    max-height: 400vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

    h1 {
      font-size: 30px;
    }

    .table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: 30px;
      padding: 20px;

      td {
        padding: 16px;
      }
    }

    .connectWallet {
      width: 85vw;
    }

    .button1 {
      width: 80vw;
    }
  }
}
